{% load static %}
<!--Footer-->
<div class="container">

    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">

                    <div class="col item social"><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i
                            class="icon ion-social-instagram"></i></a></div>
                </div>
                <p class="copyright">By Davidson © 2022</p>
            </div>
        </footer>
    </div>

</div>
<!--Fim Footer-->

<script src="{% static 'bootstrap/js/jquery-3.2.1.slim.min.js' %}"></script>
<script src="{% static 'bootstrap/js/popper.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script defer src="{% static 'font-awesome/js/all.js' %}"></script>
<script src="{% static 'custom/js/scripts.js' %}"></script>