{% load static %}

<!DOCTYPE html>
<html lang="pt">

<head>

  <title>{%block titulo%}{%endblock%}Agenda</title>
  {% include 'parciais/_head.html' %}

</head>

<body>

  {% include 'parciais/_nav.html'%}

  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12">

        {% if 'accounts' not in request.path%} <!-- Estou verificando se account está na url. Se tiver, não
         mostra a barra de pesquisa-->
        <br><br>
        <form method="get" action="{% url 'busca' %}">
          <div class="form-group row">
            <div class="col-12">

              <!-- Esse request.GET.termo é para que ao digitar
              a palavra de pesquisa e dar enter, o que foi digitado não sumir do campo-->
              <!-- OBS IMPORTANTE: precisa colocar o 'request.GET.termo' também na pagina onde vc inseriu a paginação
               neste caso, na pagina index para que não dê erro quando efetuar uma busca, essa bucar retorna varios
               contatos e utiliza mais de uma pagina e, ao clicar na segunda pagina em diante daria erro-->
              <input class="form-control"
                     type="search" value="{{ request.GET.termo }}"
                     id="search-input"
                     placeholder="Digite sua pesquisa"
                     name="termo">

              {% include 'parciais/_messages.html' %} <!--Aqui é onde vai aparecer as msgs. Está no arquivo _messages
              em templates/parciais-->

            </div>
          </div>
        </form>
        {%endif%}


        {%block conteudo%} {%endblock%}
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.slim.min.js'%}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

</body>

</html>