{% extends 'base.html' %}

{%block titulo%} Login | {%endblock%} <!--Estamos definindo o titulo da pagina-->

{%block conteudo%}
<h1 class="mt-3 mb-3">Login</h1>

{% if not user.is_authenticated %} <!--Estamos verificando se o usuario está autenteicado. Se não estiver, exibe o form
Esse user vem do import User lá do arquivo views-->
<form method="POST" action="{% url 'login' %}"> <!--As ações deste formulario vão ocorrer vindo da url cadastro,
que por sua vez aponta pro arquivo view e a função cadastro-->
    {% include 'parciais/_messages.html' %}
    {% csrf_token %} <!-- Isso é um sistema de seguraça do django. Obrigatorio ter em casos de formulario-->

  <div class="form-group">
    <label>Usuário</label>
    <input type="text" name="usuario" value="{{ request.POST.usuario }}" class="form-control">
  </div>
  <div class="form-group">
    <label>Senha</label>
    <input type="password" name="senha" class="form-control">
  </div>

  <button type="submit" class="btn btn-primary">Logar</button>
</form>

{%else%}
  <p>
    Você fez login com {{user}},
    <a href="{% url 'logout' %}">clique aqui</a> para sair.
  </p>
{%endif%}

{%endblock%}