{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block extra_js%}
    <script src=" http://malsup.github.com/jquery.form.js"></script>
{% endblock %}

{% block conteudo %}
<div class="container">
    <br>
    {% include 'parciais/_messages.html' %}

    <div class="col-xl-8">



        <main class="form-group">



            <div class="col-lg">

                <h2>Detalhes da tarefa</h2>

                <dl class="row">

                    <dt class="col-lg-2">Tarefa:</dt>
                    <dd class="col-lg-4">{{ tarefa.nome }}</dd>
                    <dt class="col-lg-2">Observação:</dt>
                    <dd class="col-lg-4">{{ tarefa.observacao }}</dd>
                    <dt class="col-lg-2">Data de inclusão:</dt>
                    <dd class="col-lg-4">{{ tarefa.data_inclusao }}</dd>
                    <dt class="col-lg-2">Conclusão:</dt>
                    <dd class="col-lg-4">{{ tarefa.previsao_conclusao }}</dd>
                    <dt class="col-lg-2">Status:</dt>

                    {%if tarefa.status == 'p'%}
                    <dd><span class="badge badge-warning">{{ tarefa.get_status_display }}</span></dd>
                    {%else%}
                    <dd><span class="badge badge-info">{{ tarefa.get_status_display }}</span></dd>
                    {%endif%}

                </dl>
                <h4>Descriação:</h4>
                <p>{{ tarefa.descricao}}</p>


                <a type="button" class="btn btn-primary" href="{% url 'principal:editar' tarefa.id %}"> Editar </a>








<!--            Modal grande -->
<!--                <button  type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Modal grande</button>-->
<!--                <a  type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg" href="{% url 'principal:editar' tarefa.id %}">Modal grande</a>-->

                <div id="addEmployeeForm" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
                     aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="container">


                                <div class="col-xl-8">
                                    <h2 class="my-3">Editar Tarefa</h2>

                                    <form method="POST">

                                        <div class="form-group">
                                            {% csrf_token %}
                                            {% for hidden_field in form.hidden_fields %} <!-- Esse hidden_fileds será uma lista vazia e é
                                            uma variavel do form mesmo-->
                                            {{ hidden_field }}
                                            {%endfor%}

                                            {% for visible_field in form.visible_fields %}
                                            <!-- Esse hidden_fileds será uma lista vazia -->

                                            <!--Nessa forma de exibir os campos do form, precisa dessa variavel para mostrar os erros. Coloquei
                                             comentado pois vamos tulizar o plugin crispy para estilizar o formulario -->
                                            <!--
                                            <div class="form-group">
                                                {{visible_field.label_tag}} <br>
                                                {{ visible_field }}
                                                {{ visible_field.errors}}
                                            </div>
                                            -->

                                            {{ visible_field|as_crispy_field }} <!--substituindo o trecho comentado acima pois será aplicado
                                            o plug crispy para estilizar o formulario-->


                                            {%endfor%}

                                            <th>
                                                <button type="submit" class="btn btn-success">Salvar</button>
                                            </th>
                                        </div>

                                    </form>

                                </div>




                            </div>
                        </div>
                    </div>
                </div>
                <!--Fim do modal-->













            </div>

        </main>
    </div>
</div>

{%endblock%}