{% extends 'base.html' %}


{%block conteudo%}
<div class="container" style="margin-top: 15px">

    <div class="container"  >

            <h2>Seja bem-vindo a lista de tarefas do Davidson.</h2>
            <p class="font-weight-normal">
                O intuito deste site é apenas demostrar e praticar os conhecimentos que tenho
                adquirido estudando Python/Django.

                Para acessar a lista de tarefas é necessario efetuar seu login pois cada usuário possui sua propria lista
            </p>

            <p class="font-weight-normal">
                <b>OBS:</b> Não se preocupe em informar um nome de usuário ou e-mail real, pois, conforme dito anteriormente, o
                proposito deste site é apenas educacional e não será solicitado nenhum tipo de validação.

            </p>




            <div class=”row” >

                <div class=”col-6″ style="justify-content-xcenter">
                    <h5>Resumo profissional:</h5>
                    <p class="font-weight-normal">
                        Em julho de 2019 concluí a minha graduação de Sistemas de Informação.
                        Possuo
                        conhecimentos em mySQL e SQL Server, Linux (configuração de redes, DHC, HTTP apache e Nginx, DNS),
                        Power Bi, e apesar de nunca ter trabalhado com programação, tenho também conhecimentos web (Python/Django,
                        HTML e
                        css)
                        e Java. Minha experiência com T.I. se inicia trabalhando na área de infraestrutura como estagiário
                        na
                        empresa
                        de transportes Transimão. Por fim, trabalhei cerca de 5 anos como analista de suporte na empresa
                        Ligou.me,
                        dando suporte à telefonia VoIP, PABX, CRM, aparelhos ATA/IP e desenvolvi habilidades de
                        relacionamento e
                        atendimento ao cliente, uma vez que, além do suporte, também era eu quem apresentava os planos e os
                        serviços
                        da empresa aos clientes e realiza os treinamentos.
                    </p>

                    <p class="font-weight-normal">
                        Atualmente estou em busca de uma nova oportunidade na área de TI. Caso
                        você que está acessando este site seja um recrutador de uma grande empresa e queira agendar uma
                        entrevista, basta me chamar nas redes sociais disponível no rodapé.
                    </p>

                </div>

                <div ></div>

            </div>


    </div>
</div>
{%endblock%}